button{
  cursor: pointer;
}
button:hover{
  background-color: gray;
}
.page-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.counter-container{
  background-color: darkgray;
  padding: 1em;
  width: 280px;
}
.header-div{
  display: flex;
  justify-content: center;
}
.header-div h2{
  font-size: 2em;
  font-weight: 800;
  color: white;
  text-shadow: 0 0 3px white, 0 0 5px grey;;
}